// nprogress 页面进度条
#nprogress {
  .bar {
    background: var(--el-color-primary-light-3) !important;
    height: 2px;
  }

  .peg {
    box-shadow:
      0 0 10px var(--el-color-primary-light-3),
      0 0 5px var(--el-color-primary-light-3) !important;
  }
}
